<div class="markdown">

<section>

<column>
<p>Salut à toi, ami du web.</p>
<p>Ici tu trouveras des textes qui, nous l&#39;espérons, te feras réfléchir et grandir, t&#39;éveiller, et devenir meilleurs.</p>
<p>Ces réflexions auraient pu rester à tout jamais perdues, dans des discussions partagées entre amis,
mais par les temps qui courent où la folie semble avoir atteint même les plus sages d&#39;entre nous,
il nous a semblé urgent de faire entendre au monde une autre <em>voix</em>, et de surcroit une autre <em>voie</em>,
une alternative à ces deux poisons qui divisent la société mondiale.</p>
<p>Oui, le monde est malade.</p>
<p>Malade de la folie des puissants, bien-sûr, qui nous enfoncent toujours de plus en plus dans la misère, dans la dictature,
dans le mensonge, et qui nous divisent pour mieux nous contrôler, et réduire nos libertés toujours plus...</p>
<p>Mais le monde est aussi malade parce que les forces censées oeuvrer pour la Lumière tournent au vinaigre,
prises de paranoïa aiguë, noyées dans un trop-plein d&#39;informations toujours plus douteuses.
Elles ont été détournées de leur fonction première et se perdent en complotisme délirant, où le message toujours pessimiste,
pousse à l&#39;inaction, à la résignation, à la crainte d&#39;autrui, lui qui ne pense pas pareil.
Fuyant une propagande, ils ont eu tôt fait de tomber dans une autre, se disant incrédules, ils croient pourtant
à n&#39;importe qui même les êtres les plus viles, ou bien à n&#39;importe quoi même le plus farfelu, le tout sans le début d&#39;une preuve,
et pourtant avec tellement de certitude... celle-là même de la pensée sectaire.</p>
<p>Ils ne sont plus lumière, mais participent malgré eux à la corruption de ce monde.</p>
<p>C&#39;est pourquoi l&#39;espoir est infime, et nul esprit éclairé ne peut se taire en pareil moment, ce serait criminel.</p>
<p>Et là, visiteur, tu te dis <em>«mais qu&#39;est-ce donc que ce vocabulaire quelque peu épique, voire apocalyptique,
de combat entre la Lumière et la corruption... Suis-je tombé chez quelques illuminés ?»</em>.
Il est vrai que les termes employés sont grandioses, mais c&#39;est toujours plus enthousiasmant à écrire et plus agréable à lire,
n&#39;est-ce pas ?
Un peu de lyrisme, ça égaie tout de suite une page !</p>
<p>Et pourtant quoi de mieux qu&#39;un vocabulaire de cette trempe pour parler des grandes turbulences mondiales qui s&#39;en viennent ?</p>
<p>En effet il est vrai que l&#39;heure est grave, car ce mal qui était encore sournois, souterrain et si prudent il y a une décennie,
intrigant dans l&#39;ombre, ose maintenant marcher en pleine lumière à visage découvert.
Il est prêt à bondir, et à nous engloutir.</p>
<p>Le peuple se divisent, se polarisent en deux camps, se déchire.
Les uns moutons blancs bien fidèles et obéissants au pouvoir faschisant en place, les autres moutons noirs rebels avec leurs airs
de «moi j&#39;ai tout compris au grand complot», dénonçant l&#39;instinct grégaire des premiers sans réaliser le leur.
Deux forces que tout oppose en apparence, et qui pourtant vont dans le même sens.
Car qu&#39;on se le dise, les moutons noirs rebels finissent toujours leur chemin dans la besace ventrue de l&#39;extrême-droite,
comme de bons petits soldats prêts à être utilisés le moment venu pour faire le sale boulot.
Et l&#39;on entend déjà d&#39;ici le bruit des bottes se rapprocher.</p>
<p>Deux forces qui s&#39;opposent en apparence, oui, deux forces qui se haïssent mutuellement, d&#39;un côté un néo-libéralisme fou,
technocratique, esclavagiste, inhumain, dans le deni des enjeux écologiques planétaires, «extrême-centriste» anti-démocratique
de plus en plus assumé, et de l&#39;autre une extrême-droite, qu&#39;on ne présente plus et dont on connaît déjà toutes les conséquences.
Il est toutefois interessant de remarquer que cette dernière a évidemment mainte fois accordée son consentement au néo-libéralisme,
qu&#39;elle est dans le déni total de l&#39;urgence climatique, etc... </p>
<p>Attendez voir, que se passe-t-il ? Y&#39;a-t-il vraiment une différence entre eux ?</p>
<p>Sans doute sur la forme, les uns adoptant la posture d&#39;un pragmatisme imposteur, les autres se drapant dans un nationalisme contrefait,
les uns visage sérieux masquant leur incompétences, les autres jouant les virils pour voiler leur faiblesse et leur lâcheté honteuse.</p>
<p>Les uns ont leur media mainstream tout puissant, avec pignon sur rue, faiseur d&#39;opinion publique de masse, les autres disposent
d&#39;un colossal réseau mondial de désinformation systématique, sévissant sur internet et ses nombreux réseaux sociaux. 
De quoi faire tourner la tête à l&#39;humanité toute entière.</p>
<p>Les <strong>Justes</strong>, si rares de nos jours, sont entre le marteau et l&#39;enclume, prenant des coups de tous les côtés, sans porte-voix,
sans organisation, sans moyens financiers, armés de leur seule Vérité pour Épée, et de leur seule Vertu pour Bouclier.</p>
<p>Le combat est inégal mais doit être livré. Semons les graines et attendons le printemps, il en restera bien quelque chose... 
Mais préparons-nous à l&#39;hiver car il va être rude.
Ici nous entretiendrons la flamme pour rester le Coeur au chaud au milieu de la Tempête, et tel un Phare dans la nuit...</p>
<p>Ici nous parlerons de Philosophie, de Spiritualité, et de Politique, curieux mélange s&#39;il en est, que je me serais refusé à jamais.
Mais les exigences de l&#39;époque sont ainsi que même le Poète ne peut plus désormais se retrancher derrière sa fantaisie,
loin des turpitudes d&#39;un monde qui étouffe...
C&#39;est l&#39;heure du choix, du courage, du Verbe agissant, et ce triptyque improbable doit prendre Vie.</p>
<p>Oui ! La Politique a besoin de se nourir de Philosophie <strong>ET</strong> de Spiritualité.</p>
<p>Oui la Philosophie et la Spiritualité doivent prendre parti, car toutes les politiques ne se valent pas,
toutes les opinions ne sont pas acceptables, et l&#39;on ne peut pas, le soir, aimer la Beauté d&#39;un monde et vouloir le sauver,
et le lendemain se résigner à <strong>«voter grisaille»</strong>, cette mélasses qu&#39;ils veulent nous faire passer pour <em>raisonnable</em> et <em>réaliste</em>.
À bas l&#39;hypocrisie !</p>
<p>La Philosophie doit descendre de la tour d&#39;ivoire de la pureté des idées et mettre les mains dans le cambouis du réel.
Et la Spiritualité ne doit pas avoir à rougir d&#39;avoir son mot à dire en Politique, car le bonheur pour soi comme le bonheur
d&#39;être ensemble, <strong>ça ne se passe pas sans l&#39;Esprit !</strong></p>
<p>Il paraît que c&#39;est mal vu d&#39;en parler dans les cercles <em>humanistes</em> ?
Eh bien apprenons-leur que chaque <strong>Être</strong> humain est avant tout une <strong>Âme</strong> !
Un Véritable Humanisme ne saurait ignorer ce fait !
Que cela soit dit : concernant la ruine du monde, le matérialisme, même au sens philosophique du terme, est tout aussi coupable
que le néo-libéralisme.</p>
<p>Oui ! Nous sommes des Âmes, et nous avons des choses à dire sur le fonctionnement du monde !</p>
<p><em>Et qu&#39;il est libérateur de pouvoir enfin le clamer haut et fort !</em></p>
<p>Serait-ce mal venu de parler Politique dans les cercles <em>spirituels</em> et <em>ésotériques</em> ?
Sans doute, et c&#39;est précisément ce manque de culture politique qui rend ces milieux particulièrement vulnérables
à la désinformation massive du réseau d&#39;extrême-droite.
Combien d&#39;entre eux sont déjà tombés dans le complotisme le plus délirant, il n&#39;y a qu&#39;à regarder autour de soi pour les compter...
Ils ne sont pas armés pour combattre cette propagande insidieuse.
L&#39;autre désunion, celle du couple Science-Spiritualité, n&#39;aide pas à y faire fleurir l&#39;esprit-critique tant nécessaire.
Pire encore : dans ces milieux cette pauvre Science a été détrônée par l&#39;escroquerie des pseudo-sciences...</p>
<p>Il est temps d&#39;établir des ponts, des liens indéfectibles entre toutes ces parties, mettons un terme à la division et
à la schizophrénie, car plus que jamais, nous avons besoin de réaliser avec notre plein potentiel, plus que jamais
il nous faut nous unir. Plutôt que de combattre les fous, nous devons les guérir de leur folie,
et que les repentis d&#39;aujourd&#39;hui soient les guérisseurs de demain !</p>
<p>Bonne lecture, et surtout bonne évolution, et bonne diffusion !</p>

</column>

</section>

</div>
